sc.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="countries">
  <xs:complexType>
    <xs:sequence>
    <xs:element name="country" type="xs:integer" minOccurs="1" maxOccurs="4"/>
    <xs:complexType>
    <xs:sequence>
      <xs:element name="population" type="xs:integer" minOccurs="1" maxOccurs="4"/>
      <xs:element name="area" type="xs:integer" minOccurs="1" maxOccurs="4"/>
      <xs:element name="capital" type="xs:string" minOccurs="1" maxOccurs="4"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" minOccurs="1" maxOccurs="4"/>
  </xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>